<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body">
        <table class="table table-hover table-striped table-bordered">
          <thead>
          <tr>
            <th>A</th>
            <th>B</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let auction of inProgressAuctions();">
            <td>{{auction.name}}</td>
            <td>{{auction.age}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
